*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100vh;
    color: rgb(240, 222, 222);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#time{
    font-size: 8rem;
}
h1{
    margin-bottom: 3rem;
}
h2{
    margin-bottom: 0.5rem;
    opacity: 0.6;
}

@media (max-width: 700px){
    #time{
        font-size: 6rem;
    }
}